/*October 2012*/

@font-face {font-family: 'PT Sans';font-weight: 400;font-style: normal;src:local('PT Sans'),local('PTSans-Regular'),url('webfonts/pt-sans-400.woff') format('woff');}
@font-face {font-family: 'PT Sans';font-weight: 700;font-style: normal;src:local('PT Sans Bold'),local('PTSans-Bold'),url('webfonts/pt-sans-700.woff') format('woff');}
@font-face {font-family: 'PT Sans';font-style: italic;font-weight: 400;src: local('PT Sans Italic'), local('PTSans-Italic'), url('webfonts/pt-sans-italic.woff') format('woff');} 

/* Common Styles */

html {font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; font-family:'PT sans', Arial, helvetica, sans-serif;}
body {padding:0; margin:0; font-size:100%; background:#fff;}
a img {border:none;}
a {color:#046E8B; cursor: pointer;}
h1, h2, h3, h4 {margin:25px 0 15px 0; padding:0; color:#046E8B; font-weight:normal; position:relative;}
h1 a, h2 a, h3 a, h4 a {text-decoration:none; border-bottom:1px solid #61a3b6;}
p {font-size:12pt; line-height:140%; color:#333; margin-top: 0;}

.clear { display:block; float:none; clear:both; padding:0; margin:0; height:0;}
.container {position:relative; width:940px; margin:0 auto; padding: 0 10px; }
.block {position:relative; margin-bottom:15px; clear: both;}
.float-left {float: left;}
.float-right {float: right;}
.absolite-right {position: absolute; right: 10px; top: 0;}
.nomarginall {margin: 0 !important;}
.nomargin-top {margin-top: 0 !important;}
.nomargin-bottom {margin-bottom: 0 !important;}
.nomargin-left {margin-left: 0 !important;}
.nomargin-right {margin-right: 0 !important;}
.padding-bottom {padding-bottom: 25px;}
.padding-top {padding-top: 25px;}
.padding-top-x2 {padding-top: 50px;}
.margin-bottom {margin-bottom: 25px;}
.margin-top {margin-top: 25px;}
.small-margin-left {margin-left: 10px;}
.divider {border-top: 1px dashed #ccc; margin: 15px 0;}

.special-link {font-weight: 700; padding: 10px 0; padding-right: 24px; background: url('img/check-plan.png') no-repeat right center;}
.small-font {font-size: 15px;}

.hide {display: none;}
.modal-backdrop 
                {
                    background-color: #fff;
                    bottom: 0;
                    left: 0;
                    position: fixed;
                    right: 0;
                    top: 0;
                    z-index: 1040;
                    opacity: 0.9;
                }

.bg1 {background: url('img/bg/bg1.png');}
.inset-shadow {box-shadow: 0 0 5px 0 rgba(0,0,0,0.3) inset;}
.shadow {background:url(img/map-shadow.png) center top no-repeat;}
.menu .shadow {background-size: contain;}
.shadow-position-undermenu .shadow {background-position:center 20px; background-size: 940px;}
            
            .inputbox {padding: 5px 15px; border: 1px solid #ccc; border-radius: 3px;}
            .btn {padding: 5px 15px;border-radius: 3px; color: #fff; cursor: pointer !important; border: none; text-decoration: none;}
            .btn.green {text-shadow: 1px 1px 0 #555; border-right: 1px solid #537523; border-bottom: 1px solid #537523;}
            .btn.gray {text-shadow: 1px 1px 0 #eee; color: #333; border-right: 1px solid #777; border-bottom: 1px solid #777;}
            .btn.lime {text-shadow: 1px 1px 0 #555; border-right: 1px solid #6e9b02; border-bottom: 1px solid #6e9b02;}
            .btn.blue {text-shadow: 1px 1px 0 #444; border-right: 1px solid #185396; border-bottom: 1px solid #185396;}
            .btn.red {text-shadow: 1px 1px 0 #444; border-right: 1px solid #c02727; border-bottom: 1px solid #c02727;}
            .btn.orange {text-shadow: 1px 1px 0 #ac5605; border-right: 1px solid #ee7707; border-bottom: 1px solid #ee7707;}
            .gray {
                        background: #eeeeee; /* Old browsers */
                        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
                        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjY2NjY2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
                        background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
                        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
                        background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
                        background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
                        background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* IE10+ */
                        background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%); /* W3C */
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-8 */
                    }
            .light-gray {
                        background: #ffffff; /* Old browsers */
                        background: -moz-linear-gradient(top,  #ffffff 65%, #eeeeee 100%); /* FF3.6+ */
                        background: -webkit-gradient(linear, left top, left bottom, color-stop(65%,#ffffff), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
                        background: -webkit-linear-gradient(top,  #ffffff 65%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
                        background: -o-linear-gradient(top,  #ffffff 65%,#eeeeee 100%); /* Opera 11.10+ */
                        background: -ms-linear-gradient(top,  #ffffff 65%,#eeeeee 100%); /* IE10+ */
                        background: linear-gradient(to bottom,  #ffffff 65%,#eeeeee 100%); /* W3C */
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
                        }
            .green, .qa-answer .header, .qa-form-buttons .qa-form-submit
                    {
                        background: #8cc543; /* Old browsers */
                        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
                        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhjYzU0MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2ZjllMmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
                        background: -moz-linear-gradient(top,  #8cc543 0%, #6f9e2e 100%); /* FF3.6+ */
                        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8cc543), color-stop(100%,#6f9e2e)); /* Chrome,Safari4+ */
                        background: -webkit-linear-gradient(top,  #8cc543 0%,#6f9e2e 100%); /* Chrome10+,Safari5.1+ */
                        background: -o-linear-gradient(top,  #8cc543 0%,#6f9e2e 100%); /* Opera 11.10+ */
                        background: -ms-linear-gradient(top,  #8cc543 0%,#6f9e2e 100%); /* IE10+ */
                        background: linear-gradient(to bottom,  #8cc543 0%,#6f9e2e 100%); /* W3C */
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8cc543', endColorstr='#6f9e2e',GradientType=0 ); /* IE6-8 */
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6f9e2e', endColorstr='#8cc543',GradientType=0 ); /* IE6-8 */
                    }
	.object .status span.completed,
        .progressbar .bar-line .low,
        a.button-link, input.poll-button,
        .lime  {
                        background: #9cce14; /* Old browsers */
                        background: -moz-linear-gradient(top,  #9cce14 0%, #6ea603 100%); /* FF3.6+ */
                        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9cce14), color-stop(100%,#6ea603)); /* Chrome,Safari4+ */
                        background: -webkit-linear-gradient(top,  #9cce14 0%,#6ea603 100%); /* Chrome10+,Safari5.1+ */
                        background: -o-linear-gradient(top,  #9cce14 0%,#6ea603 100%); /* Opera 11.10+ */
                        background: -ms-linear-gradient(top,  #9cce14 0%,#6ea603 100%); /* IE10+ */
                        background: linear-gradient(to bottom,  #9cce14 0%,#6ea603 100%); /* W3C */
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9cce14', endColorstr='#6ea603',GradientType=0 ); /* IE6-9 */
                }
	.object .status span.in-process,
        .dropdown-trigger,
        .search-button,
        .blue {
                        background: #2e9adf; /* Old browsers */
                        background: -moz-linear-gradient(top,  #2e9adf 0%, #206cca 100%); /* FF3.6+ */
                        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2e9adf), color-stop(100%,#206cca)); /* Chrome,Safari4+ */
                        background: -webkit-linear-gradient(top,  #2e9adf 0%,#206cca 100%); /* Chrome10+,Safari5.1+ */
                        background: -o-linear-gradient(top,  #2e9adf 0%,#206cca 100%); /* Opera 11.10+ */
                        background: -ms-linear-gradient(top,  #2e9adf 0%,#206cca 100%); /* IE10+ */
                        background: linear-gradient(to bottom,  #2e9adf 0%,#206cca 100%); /* W3C */
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e9adf', endColorstr='#206cca',GradientType=0 ); /* IE6-9 */
                }
	.orange,
        .object .status span.planed,
        .progressbar .bar-line .middle,
        .cat-selector span, .menu ul.menu-items li.active,
        .sidebar-menu ul li.active > a {
                        background: #ff9933; /* Old browsers */
                        background: -moz-linear-gradient(top,  #ff9933 0%, #ff7b00 100%); /* FF3.6+ */
                        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff9933), color-stop(100%,#ff7b00)); /* Chrome,Safari4+ */
                        background: -webkit-linear-gradient(top,  #ff9933 0%,#ff7b00 100%); /* Chrome10+,Safari5.1+ */
                        background: -o-linear-gradient(top,  #ff9933 0%,#ff7b00 100%); /* Opera 11.10+ */
                        background: -ms-linear-gradient(top,  #ff9933 0%,#ff7b00 100%); /* IE10+ */
                        background: linear-gradient(to bottom,  #ff9933 0%,#ff7b00 100%); /* W3C */
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9933', endColorstr='#ff7b00',GradientType=0 ); /* IE6-9 */
                                        }
        .progressbar .bar-line .high,
        .red {
                        background: #ff3333; /* Old browsers */
                        background: -moz-linear-gradient(top,  #ff3333 0%, #d82b2b 100%); /* FF3.6+ */
                        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3333), color-stop(100%,#d82b2b)); /* Chrome,Safari4+ */
                        background: -webkit-linear-gradient(top,  #ff3333 0%,#d82b2b 100%); /* Chrome10+,Safari5.1+ */
                        background: -o-linear-gradient(top,  #ff3333 0%,#d82b2b 100%); /* Opera 11.10+ */
                        background: -ms-linear-gradient(top,  #ff3333 0%,#d82b2b 100%); /* IE10+ */
                        background: linear-gradient(to bottom,  #ff3333 0%,#d82b2b 100%); /* W3C */
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3333', endColorstr='#d82b2b',GradientType=0 ); /* IE6-9 */
            }
            
        .qa-question .header, .qa-form .header, 
        .dark-blue {
                        background: #0693ac; /* Old browsers */
                        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
                        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA2OTNhYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwNTdjOWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
                        background: -moz-linear-gradient(top,  #0693ac 0%, #057c9b 100%); /* FF3.6+ */
                        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0693ac), color-stop(100%,#057c9b)); /* Chrome,Safari4+ */
                        background: -webkit-linear-gradient(top,  #0693ac 0%,#057c9b 100%); /* Chrome10+,Safari5.1+ */
                        background: -o-linear-gradient(top,  #0693ac 0%,#057c9b 100%); /* Opera 11.10+ */
                        background: -ms-linear-gradient(top,  #0693ac 0%,#057c9b 100%); /* IE10+ */
                        background: linear-gradient(to bottom,  #0693ac 0%,#057c9b 100%); /* W3C */
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0693ac', endColorstr='#057c9b',GradientType=0 ); /* IE6-8 */
                    }

/* Site styles */
            
#page-surround {position:relative; }
#header {position:relative;background: url("img/city.jpg") repeat-x scroll center -60px;}
#header .top {position:relative; }
	#logo {position:relative; padding:25px 10px; float:left;}
	.top-tel {float:right; padding:25px 10px; }
	.top-tel p {line-height:19px; padding:0; margin:0;color:#999;}
#header .menu {	position:relative;z-index:20;}	
	.menu ul.menu-items {
                            position:relative; display:block; padding:10px 0;
                            margin:0; text-align: center; border-radius: 21px;
                            margin:0;
                            box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
                            background: #fff;
                            }
	.menu ul.menu-items li {position:relative; display:inline; margin:0 15px; font-size:12pt;}
	.menu ul.menu-items li a {text-decoration:none; border-bottom:1px solid #61a3b6;}
	.menu ul.menu-items li.active {margin:0 7px; padding:0 8px; border-radius:12px;}
	.menu ul.menu-items li.active a {border-bottom: none; color: #fff;}
        .menu ul.menu-items li a:hover, .menu ul.menu-items li.active:hover {opacity: 0.9;}
	
	#pull {display:none; margin: 0 15px; clear:both; background:url(img/nav-icon.png) right center no-repeat; text-decoration:none;}
	#pull span {border-bottom:1px dashed #046e8b;}
	
	#search {position:relative; float:right; margin-right:15px;}
	#search input {box-sizing:border-box; border:none; background:none; width:100%;}
	#search .search-button {
                border-width:1px; border-style:solid; border-color: #ececec #dbdbdb #dbdbdb #ececec ; border-radius:12px 0 0 12px; float:left; width:25px; height:20px;
                background: #fdfdfd; /* Old browsers */
                background: -moz-linear-gradient(top,  #fdfdfd 0%, #ededed 100%); /* FF3.6+ */
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(top,  #fdfdfd 0%,#ededed 100%); /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(top,  #fdfdfd 0%,#ededed 100%); /* Opera 11.10+ */
                background: -ms-linear-gradient(top,  #fdfdfd 0%,#ededed 100%); /* IE10+ */
                background: linear-gradient(to bottom,  #fdfdfd 0%,#ededed 100%); /* W3C */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
                                }
	#search .search-button input {display:block; width:100%; height:100%; background:url(img/search-button.png) center center no-repeat;}
	#search .search-field { width:150px; height:20px; padding-left:5px; border-width:1px 1px 1px 0; border-style:solid; border-color:#dbdbdb #ececec #ececec transparent; border-radius:0 12px 12px 0; color:#ccc; float:left;}
	#search .search-field input {color:#999; padding:0 !important; display:block; height:100%;}
	
	
#map {position:relative; /*overflow:hidden;*/ height:380px; background:url(img/map.png) center top no-repeat; border-bottom:1px solid #aaa;}
.contacts-map {position:relative; border-bottom:1px solid #aaa;}
#map:after {}
.showcase {position: relative; z-index: 10;}
    .showcase-block {position: relative; }
    .showcase-block img {display: block; width: 100%;}

#content {position:relative;}
#content .left-block {position:relative;float:left;  margin:0 10px;}
#content .right-block {position:relative;float:right; margin:0 10px;}
            .w640 {width:640px;}
            .w260 {width:260px;}
            .w360 {width:360px;}
            .w540 {width:540px;}
            .w450 {width:450px;}
            .w300 {width:300px;}
            .w600 {width:600px;}
            .w940 {width:940px;}
            .per32 {width:32%;}
            
.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12
 	{
            float: left;
            position: relative;
            margin-left: 1%;
            margin-right: 1%;
	}
        
.alpha {margin-left: 0;}
.omega {margin-right: 0;}
        
.grid-1 {width:6.333%;}
.grid-2 {width:14.667%;}
.grid-3 {width:23.0%;}
.grid-4 {width:31.333%;}
.grid-5 {width:39.667%;}
.grid-6 {width:48.0%;}
.grid-7 {width:56.333%;}
.grid-8 {width:64.667%;}
.grid-9 {width:73.0%;}
.grid-10 {width:81.333%;}
.grid-11 {width:89.667%;}
.grid-12 {width:98.0%;}
/**/
        .more-space .w640, .more-space .w260, .more-space .w360,
        .more-space .w540, .more-space .w450, .more-space .w300, .more-space .w600 
            {padding: 0 10px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
            
        .more-space .grid-1, .more-space .grid-2, .more-space .grid-3, .more-space .grid-4, .more-space .grid-5,
        .more-space .grid-6, .more-space .grid-7, .more-space .grid-8, .more-space .grid-9, .more-space .grid-10,
        .more-space .grid-11, .more-space .grid-12
            {padding: 0 15px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

#bottom {position:relative; margin:25px 0 0 0; padding: 0 0 25px 0;}
#bottom .container:first-child {border-top:1px dashed #999; background:url(img/map-shadow.png) center top no-repeat; background-size:contain;}
    .bottom-adress {position: relative; }
    .small {font-size: 10pt; padding: 0; margin:5px 0;}

	.icon {padding-left:36px; background-size: 34px;}
		.sputnik {background:url(img/sputnik-image.png) left 3px no-repeat;}
		.news-ico {background:url(img/news-image.png) left 3px no-repeat;}
		.newspaper-ico {background:url(img/newspaper.png) left 3px no-repeat;}
		.obj-ico {background:url(img/obj-image.png) left 3px no-repeat;}
		.doc-ico {background:url(img/file_extension_doc.png) left 3px no-repeat;}
		.vacancy-ico {background:url(img/user_orange.png) left 3px no-repeat;}
		.house-ico {background:url('img/house_one.png') left 3px no-repeat;}
		.question-ico {background:url('img/question.png') left 3px no-repeat;}
		.contact-ico {background:url('img/contact_email.png') left 3px no-repeat;}
.objects {position:relative;}
.objects .item {position:relative; float:left; margin-bottom:25px;}
.col3 .item {width:33%;}
.col4 .item {width:25%;}
.objects .item .object{position:relative; width:95%; border-radius: 8px; box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);}
    .flexslider .object {margin: 0 5px; position: relative;}
.object-inside-block {width:400px; position: relative; float: left; margin-right: 15px; z-index: 3; }
.objects-inner {position:relative;}
.objects-inner .object{position:relative; margin:auto; background-color:#fff;}

	.object:after, .object:before,
        .showcase-block:after, .showcase-block:before,
        .qa .qa-question:before, .qa .qa-answer:before,
        .qa .qa-question:after, .qa .qa-answer:after,
        .raised-corners:after, .raised-corners:before {
                                -moz-transform: rotate(-5deg);
                               -webkit-transform: rotate(-5deg);
                               -o-transform: rotate(-5deg);
                                transform: rotate(-5deg);
                                background: none repeat scroll 0 0 #777777;
                                bottom: 18px;
                                box-shadow: 0 15px 10px #777777;
                                content: "";
                                left: 10px;
                                max-width: 300px;
                                position: absolute;
                                top: 80%;
                                width: 50%;
                                z-index: -1;
                            }
	.object:after, .showcase-block:after,
        .qa .qa-question:after, .qa .qa-answer:after,
        .raised-corners:after {
                -moz-transform: rotate(5deg);
                -webkit-transform: rotate(5deg);
                -o-transform: rotate(5deg);
                transform: rotate(5deg);left: auto;right: 10px;
            }
 	.object .description, .photo .description {border-width:0 1px 1px 1px; border-color:#ccc; border-style:solid; padding:10px; border-radius:0 0 8px 8px; background: #fff;}
	.object .image {/*height:160px;*/ border-radius:8px 8px 0 0; background-size:contain !important;}
	.object .image a {display:block;}
	.object .image img {max-width:100%;border-radius:8px 8px 0 0; display:block;}
	.objects-inner .image {}
	.objects-inner .image img {max-width:100%;border-radius:8px 8px 0 0; display:block; width: 100%;}
	.objects-inner .small-gallery {position:relative; margin-bottom:5px; padding-bottom:5px;border-bottom:#ccc 1px solid;}
                .elastislide-list {list-style-type: none; display: none;}
                .no-js .elastislide-list {display: block;}                
                .elastislide-wrapper {position: relative;margin: 0 auto; min-height: 54px;}
                .elastislide-horizontal {padding: 0 30px;}
                .elastislide-carousel {overflow: hidden; position: relative;}
                .elastislide-carousel ul {position: relative; display:block; list-style-type: none; padding: 0; margin: 0;-webkit-backface-visibility: hidden;-webkit-transform: translateX(0px);-moz-transform: translateX(0px);-ms-transform: translateX(0px);-o-transform: translateX(0px);transform: translateX(0px);}
                .elastislide-horizontal ul {white-space: nowrap;}
                .elastislide-carousel ul li { -webkit-backface-visibility: hidden; margin: 0 3px;}
                .elastislide-horizontal ul li {display:inline-block; height: 100%; }
		.small-gallery .elastislide-list {}
		.small-gallery .elastislide-list li {}
		.elastislide-carousel ul li a {display: inline-block;width: 100%;}
		.elastislide-carousel ul li a img {display:block; width: 48px; height:auto; border:3px solid #999;-moz-border-radius:3px; -o-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
                .small-gallery .elastislide-list .current-img img {border-color:#f93;}
                .elastislide-wrapper nav span {position: absolute;background: #ddd url(img/nav.png) no-repeat 2px 2px;
                        width: 20px;height: 20px; border-radius: 50%;text-indent: -9000px; cursor: pointer; opacity: 0.8; }
                .elastislide-wrapper nav span:hover {opacity: 1.0}
                .elastislide-horizontal nav span {top: 50%;left: 0;margin-top: -11px;}
                .elastislide-horizontal nav span.elastislide-next {right: 0;left: auto;background-position: 3px -18px;}
	.object .name {padding-bottom:5px; margin-bottom:5px; border-bottom:#ccc 1px solid;}
	.object .name a {text-decoration:none;}
	.object .status {padding:5px 0;}
	.object .status span {padding:3px 15px 3px 25px; color:#fff; font-size:10pt; border-radius:12px; box-shadow:inset 0 0 1px 0 rgba(255,255,255,0.41); position:relative;}
	.object .check-plan-c {border-top: 1px solid #CCCCCC;margin-top: 5px;padding-top: 5px;text-align: center;}
	.object .check-plan {padding-right: 25px; text-decoration: none; color: #333; font-weight: normal; background: url(img/check-plan.png) no-repeat right center;}
	
        .object .status span.completed i {display:block; position:absolute; left:10px; top:6px; width:12px; height:12px; background:url(img/checked.png) center center no-repeat;}
	.object .status span.in-process i {display:block; position:absolute; left:10px; top:6px; width:12px; height:12px; background:url(img/in-process.png) center center no-repeat;}
	.object .status span.planed i {display:block; position:absolute; left:10px; top:6px; width:12px; height:12px; background:url(img/planed.png) center center no-repeat;}

	.progressbar {position:relative; padding:5px 0; font-size:10pt; color:#ccc;}
	.progressbar .bar-line{height:15px; background:#ccc; border-radius:7px; position:relative;}
	.progressbar .bar-line span{display:block; position:absolute; left:10px; top:0; line-height:14px; font-size:12px; color:#fff;}
	.progressbar .bar-line .middle, .progressbar .bar-line .high, .progressbar .bar-line .low {height:100%; border-radius:7px;}
        
        .bg1 .object .description, .bg1 .photo .description {border-color: #fff;}

.news-list {position:relative;}
.news-list ul, .news-list .news-list-items {position:relative; padding:0; margin:0;}
.news-list ul li {position:relative; display:block; list-style:none; margin-bottom: 15px; padding-bottom: 15px; border-bottom: 1px dotted #eee;}
.news-list ul li img {width: 64px; height: auto; display: block; float: left; margin-right: 10px; padding: 4px; box-shadow: 0 0 3px 0 rgba(0,0,0,0.2);}
.news-list ul li span {display:block; color:#999; font-size:10pt;}
.news-list ul li a {display:block; font-size:12pt; padding-right: 10px;}
    .col3 .news-list-items li {float:left; width: 33%;}
        .col3 .news-list-items li:nth-child(3n+1) {clear: both;}
    .col2 .news-list-items li {float:left; width: 50%;}
        .col2 .news-list-items li:nth-child(2n+1) {clear: both;}
    .col4 .news-list-items li {float:left; width: 25%;}

.order-button {position:relative;}
.right-block .order-button {margin:35px 0; }
.order-button p {margin:0; padding:5px 0; color:#999; font-style:italic;}
.order-button .order-b-content {display:block; position:relative; border-radius:8px; padding:10px 15px 18px 15px; font-size:16pt; color:#fff;cursor:pointer;
								background: #fdb283; /* Old browsers */
								background: -moz-linear-gradient(top,  #fdb283 0%, #fb7e2d 100%); /* FF3.6+ */
								background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdb283), color-stop(100%,#fb7e2d)); /* Chrome,Safari4+ */
								background: -webkit-linear-gradient(top,  #fdb283 0%,#fb7e2d 100%); /* Chrome10+,Safari5.1+ */
								background: -o-linear-gradient(top,  #fdb283 0%,#fb7e2d 100%); /* Opera 11.10+ */
								background: -ms-linear-gradient(top,  #fdb283 0%,#fb7e2d 100%); /* IE10+ */
								background: linear-gradient(to bottom,  #fdb283 0%,#fb7e2d 100%); /* W3C */
								filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdb283', endColorstr='#fb7e2d',GradientType=0 ); /* IE6-9 */
								box-shadow:inset 0 -7px 0 0 rgba(0,0,0,0.19), 0 5px 19px 0 rgba(0,0,0,0.15);
								
								}
.order-button .order-b-content:active {top:6px; box-shadow:inset 0 -1px 0 0 rgba(0,0,0,0.19), 0 5px 19px 0 rgba(0,0,0,0.15); padding-bottom:12px; margin-bottom:6px; }								

.branding {float:right; }
.copyright {float:left; }

.adress {position:relative;}
.adress p {color:#046E8B;}
.adress .adress-icon {padding-left:35px; background:url(img/adress-i.png) left 8px no-repeat;}
.adress .mail-icon {padding-left:35px; background:url(img/mail-i.png) left center no-repeat;}

.photo-stream {position:relative;}
.photo-stream .photo-col {position:relative; float:left; margin-bottom:20px;}
    .col2 .photo-col {width:50%; }
    .col3 .photo-col {width:33%; }
    .col4 .photo-col {width:25%; }
.photo-stream .photo-col .photo {width:95%; border-radius:8px; position:relative;background:#fff;}
.photo-stream .photo-col .photo a {display:block; position:relative;}
.photo-stream .photo-col .photo img {max-width:100%; display:block; border-radius:8px 8px 0 0;}
.photo-stream .photo-col .photo:after, .photo-stream .photo-col .photo:before {
						   -moz-transform: rotate(-5deg);
                                                    background: none repeat scroll 0 0 #777777;
                                                    bottom: 18px;
                                                    box-shadow: 0 15px 10px #777777;
                                                    content: "";
                                                    left: 10px;
                                                    max-width: 220px;
                                                    position: absolute;
                                                    top: 80%;
                                                    width: 50%;
                                                    z-index: -1;
							}
.photo-stream .photo-col .photo:after {-moz-transform: rotate(5deg);left: auto;right: 10px;}
.photo-stream .photo-col .photo .name {}

.dropdown-container {position: relative;  float: left; margin-top:-5px; margin-bottom:15px;}
.dropdown-container .dropdown-trigger {position: relative; display: none; float: left; padding: 3px 25px 3px 10px; color:#fff; border-radius:12px;}
.dropdown-container .dropdown-trigger i {display:block; position:absolute; right:10px; top:6px; width:12px; height:12px; background:url(img/darr.png) center center no-repeat;}

.cat-selector {position:relative; float:left;}
.cat-selector span, .dropdown-container a{margin-right:10px; font-size:10pt; text-decoration:none;}
.cat-selector span {padding: 1px 10px; color:#fff; border-radius:10px;}
.cat-selector a {border-bottom:1px dashed #046e8b; }

.dvs-image {padding:3px; background-color:#fff; border-radius:3px; box-shadow:0 0 30px -10px #ccc; max-width:100%; height:auto;}
.dvs-image + .dvs-image {margin-left:15px;}

.breadcrumbs {position:relative; margin:0 10px 10px 0; color:#046e8b; font-size:10pt; line-height:16px;}
.breadcrumbs a{font-size:10pt; line-height:16px;}

.news-block-full {position:relative;}
.news-block-full .article {position:relative; margin-bottom:10px;}
.news-block-full .article h3{}
.news-block-full .article p.date {margin:0; color:#999;}
.news-block-full .article .article-image {float:left; margin-right:15px;}

/*.map-block {position: relative; width: 50%; float: left;}
.contacts {position: relative; width: 50%; float: left;}
.contacts .contacts-container {margin-left: 10px;}
.map-block .map-container {position: relative; padding:3px; background-color:#fff; border-radius:3px; box-shadow:0 0 30px -10px #ccc;}
.map-block .map-container img {display: block;}*//*Temporary*/

.search-result {position: relative; margin-top: 15px;}
.search-result .search-item {position: relative; margin-bottom: 20px; padding-bottom: 20px; border-bottom: 1px dashed #ccc;}
.search-result .search-item:last-child {border:none;}
.search-advanced-result .search-result {color: #888;}
div.search-page input.search-query {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box;-moz-border-radius: 13px 0 0 13px;-webkit-border-radius: 13px 0 0 13px;-o-border-radius: 13px 0 0 13px;border-radius: 13px 0 0 13px;color: #333333;font-size: 14px;padding: 4px 10px; width: 100%; border-style: solid; border-width: 1px 0 1px 1px; border-color: #DBDBDB transparent #ECECEC #DBDBDB; margin: 0;}
div.search-page input.search-button {display:block; height: 16px; border: medium none;-moz-border-radius: 0 13px 13px 0;-webkit-border-radius: 0 13px 13px 0;-o-border-radius: 0 13px 13px 0;border-radius: 0 13px 13px 0;color: #FFFFFF;font-size: 14px;margin: 0;padding: 5px 8px; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; -o-box-sizing: content-box; box-sizing: content-box;}


/* Tabs */
.tab-content {overflow: auto;}
.tab-content .tab-pane {display: none;}
  .tab-content .active {display: block;}
  
.nav-tabs {position: relative; display: block; border-bottom: 2px solid #f93; padding: 0; margin: 0;}
.nav-tabs li {
            position: relative;
            list-style: none;
            float: left; border-radius: 6px 6px 0 0;
            border-width: 2px;  border-color:transparent;
            border-style: solid; 
            margin-left: 5px;
            margin-bottom: -2px;                      
            }
.nav-tabs li a {text-decoration: none; padding: 0 15px; line-height: 34px;}
.nav-tabs li.active {  
                    border-color:#f93 #f93 transparent #f93;
                    background: #ffffff; /* Old browsers */
                    background: -moz-linear-gradient(top,  #ffffff 65%, #fafafa 100%); /* FF3.6+ */
                    background: -webkit-gradient(linear, left top, left bottom, color-stop(65%,#ffffff), color-stop(100%,#fafafa)); /* Chrome,Safari4+ */
                    background: -webkit-linear-gradient(top,  #ffffff 65%,#fafafa 100%); /* Chrome10+,Safari5.1+ */
                    background: -o-linear-gradient(top,  #ffffff 65%,#fafafa 100%); /* Opera 11.10+ */
                    background: -ms-linear-gradient(top,  #ffffff 65%,#fafafa 100%); /* IE10+ */
                    background: linear-gradient(to bottom,  #ffffff 65%,#fafafa 100%); /* W3C */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fafafa',GradientType=0 ); /* IE6-9 */
                    }
.project-declarations {position: relative;}
.document-list {position: relative;}
.document-list ul {display: block; position: relative; padding: 0; margin: 10px 0 0 0;}
.document-list ul li {list-style: none; display: block; margin-bottom: 10px; padding-left: 20px;}
.project-declarations ul li {background: url('img/document_info.png') left center no-repeat;}

.sidebar-menu {position: relative;}
.sidebar-menu ul {display: block; position: relative; padding: 0; margin: 0;}
.sidebar-menu ul li {display: block; list-style: none; margin-bottom: 5px;}
.sidebar-menu ul li ul.submenu {padding: 10px 0 0 30px;}
.sidebar-menu ul li ul.submenu li a {font-size:14px; }
.sidebar-menu ul li a {padding:0 10px 0 0; border-radius: 12px;}
.sidebar-menu ul li.active > a {text-decoration: none; color: #fff;}
.sidebar-menu ul li a span {padding:0 15px; background: url('img/cat-nav.png') center center no-repeat;}
.sidebar-menu ul li.active > a span {background: url('img/cat-nav-white.png') center center no-repeat;}

.catalog-list {position: relative;}
.catalog-list .catalog-col {position: relative; margin-bottom: 20px; padding-bottom: 20px; border-bottom: 1px dashed #ddd;}
    .col2 .catalog-col {width: 50%; float: left;}
    .col3 .catalog-col {width: 33%; float: left;}
.catalog-list .catalog-col .catalog-item {position: relative; display: table;}
    .catalog-item > a {display: table-cell; vertical-align: middle;} 
    .catalog-item img {display: block; height: 64px; margin-right: 15px; padding: 5px; border-radius: 2px; box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.2);}
    .catalog-item .description {display: table-cell;vertical-align: middle;}/* display style is important */
    .catalog-item .description h4 {margin: 0 10px 0 0;}
    .catalog-item .description h4 a {cursor: pointer;}
    
        .catalog-specs {width: 100%; border: 1px solid #eee; border-collapse: collapse;}
        .catalog-specs td, .catalog-specs th {padding: 8px 3px; border-top: 1px dotted #eee; text-align: center; border-right: 1px dotted #eee;}
        .catalog-specs th {color: #333;}
        .catalog-specs tr:nth-child(2n) {background: #f6f6f6;}
        
.text-center {text-align: center;} 

table.vancancy-list-preview {width: 100%; border:0; border-collapse: collapse;}
table.vancancy-list-preview td {padding: 10px 5px 10px 0; border-bottom: 1px dashed #ccc;}
table.vancancy-list-preview tr:first-child td {padding-top: 0;}
table.vancancy-list-preview tr td:last-child {text-align: center;}
table.vancancy-list-preview td h4 {margin: 0 0 5px; padding: 0;}
table.vancancy-list-preview td > p {display: block; font-size: 12px; font-style: italic; color: #777; margin: 0; padding: 0;}
    a.button-link {padding: 2px 10px; font-size: 13px; color: #fff; border-radius: 12px; cursor: pointer; visibility: hidden; text-decoration: none;}
   table.vancancy-list-preview tr:hover a.button-link {visibility: visible;}
table.vancancy-list-preview  td h4 a {border-bottom:1px dashed;}
.poll {position: relative;}
.poll h3 {position: relative; margin-top: 0;}
    form.poll-form {position: relative;}
    form.poll-form .poll-answer {position: relative; clear: both; padding-bottom: 5px; margin-bottom: 5px; border-bottom: 1px dashed #ddd;}
    form.poll-form input {float: left;}
    form.poll-form label {display: block; padding-left: 25px;}
    
.poll-results {position: relative;}
.poll-results table {width: 100%; border:0; border-collapse: collapse;}
.poll-results table td {padding:8px 5px; border-bottom: 1px dashed #ddd; vertical-align: bottom;}
.poll-results table tr:first-child td {padding-top:0;}
.poll-results table td p {margin: 0;}
.poll-results table td.result-count {font-weight: 700;}
.poll-results table td .progressbar {padding-bottom: 0;}
.poll-results table td .progressbar .bar-line span {left: 48%;}

.qa-form {
            width: 400px; margin:25px auto 0 auto;
            position: relative; background: #fff;
            box-shadow: 1px 1px 4px rgba(0,0,0,0.3); border-radius: 8px;            
        }
#modalform {position: absolute; top: 100px; left: 50%; z-index: 10000; margin-left: -200px;}
.qa-form .close {display: block; position: absolute; right: 10px; padding: 0; margin: 0; background: none; border: none; color: #fff; font-weight: bold; font-size: 24px; cursor: pointer; z-index: 10;}
.qa-form .qa-form-buttons {position: relative;}
.qa-form .qa-form-buttons button {margin-bottom: 7px;}
.qa-form .qa-form-field-group {position: relative; margin-bottom: 15px; padding-bottom: 15px; border-bottom: 1px dashed #ddd; overflow: auto;}
.qa-form .qa-form-field-group:first-child {padding-top: 15px;}
.qa-form .qa-form-field-group:last-child {margin-bottom: 0; padding-bottom: 0; border-bottom: none;}
.qa-form .qa-form-field-group .label {float: left; width: 80px;}
.qa-form .qa-form-field-group .field {margin-left: 80px;}
.qa-form .qa-form-field-group label {display: block;}
.qa-form .qa-form-field-group input,
.qa-form .qa-form-field-group select,
.qa-form .qa-form-field-group textarea {
                                        display: block; width: 100%;
                                        -moz-box-sizing: border-box; box-sizing: border-box;
                                        padding: 8px 10px; border: 1px solid #ddd; 
                                        border-radius: 3px;
                                        }
.qa-list {position: relative; margin-top: 15px;}
.qa-list .qa {position: relative; margin-bottom: 40px;}
    .qa .qa-question, .qa-answer {position: relative; background: #fff;}
    .qa .qa-question {margin-left: 12px;}
    .qa .qa-question .l-buble {width: 11px; height: 19px; position: absolute; left:-11px; top:5px; background: url('img/l-buble.png') no-repeat #068DA7;}
    .qa .qa-answer{margin-top: 31px; width: 80%; margin-left: 20%;}
    .qa .qa-answer .t-buble {width: 19px; height: 11px; position: absolute; top:-11px; right:25px; background: url('img/t-buble.png') no-repeat #8CC543;}

    .qa-question .header, .qa-form .header 
                {
                padding: 10px; border-radius: 8px 8px 0 0;
                border-bottom: 1px solid #02596B;
                }
    .qa-answer .header 
                {
                padding: 10px; border-radius: 8px 8px 0 0;
                border-bottom: 1px solid #537523;
                }
    .qa .header h3, .qa .header p, .qa-form .header h3, .qa-form .header p {margin: 0; text-shadow: 1px 1px 0 #333;}
    .qa .header p, .qa-form .header p {font-size: 14px; color: #fff;}
    .qa .header h3, .qa-form .header h3 {color: #fff; font-weight: 700;}
    .qa .qa-text p:last-child {margin: 0;}
    .qa .qa-text, .qa-form .form-text {padding: 10px; border-radius: 0 0 8px 8px; border-width: 0 1px 1px 1px; border-color: #ccc; border-style: solid;}
    .add-question {
        display: block; padding: 5px 15px;
        border-radius: 3px; color: #fff; cursor: pointer !important;
        text-shadow: 1px 1px 0 #333; box-shadow: 1px 1px 0 0 #537523;
    }
    .qa-form .header, .qa-form .form-text {padding-left: 15px; padding-right: 15px;}
.contact-list {position: relative; padding: 0; margin: 0;}
.contact-list li {position: relative;list-style: none; border-bottom: 1px dashed #ddd; padding-bottom: 10px; margin-bottom: 10px;}
.contact-list li p{margin: 0;}

.menu-list {position: relative; padding: 0 0 0 10px; margin: 0; display: block;}
.menu-list li {list-style: none; padding-left: 12px; position: relative;}
.menu-list li:before {
                        content: "";
                        display: block;
                        position: absolute;
                        height: 4px;
                        width: 4px;
                        border-width: 2px 2px 0 0;
                        border-style: solid;
                        border-color: #046E8B;
                        -moz-transform: rotate(45deg);
                        -webkit-transform: rotate(45deg);
                        -o-transform: rotate(45deg);
                        transform: rotate(45deg);
                        left: 0;
                        top: 50%;
                        margin-top: -2px;
                    }

.flying-bittons {position: fixed; right: 0; top: 200px; z-index: 100000;}